<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: files(title='Add Script')">
</head>
<body>
<header th:insert="fragments/header.html :: header"></header>

<style>
    .form-group {
        padding: 5px;
    }
</style>

<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

    <div class="container">
        <center><h2>Create a new script</h2></center>

        <div style="visibility: hidden;" class="alert alert-danger" id="error"></div>
        <form>
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="desc">Description</label>
                <input type="text" class="form-control" id="desc">
            </div>
            <div class="form-group">
                <label for="trigger">Trigger</label>
                <select name="trigger" id="trigger">
                    <option th:each="trigger : ${triggers}" th:value="${trigger.name()}" th:text="${trigger.toFriendlyString()}"></option>
                </select>
            </div>
            <span id="options">
            </span>
            <div class="form-group">
                <label for="enabled">Enabled</label>
                <input type="checkbox" id="enabled">
            </div>
            <div class="form-group">
                <label for="script">Script</label>
                <textarea class="form-control" id="script"></textarea>
            </div>

            <button id="addScript" type="submit" class="btn btn-primary">Add Script</button>
        </form>
    </div>

</div>

<script>

    function updateTriggerOptions(value) {
        var opts = $("#options");
        var html = "";

        if (value === "MQTT_TOPIC") {
            html += "<div class='form-group'>" +
                "<label for='triggerValue'>Topic</label>" +
                "<input class='form-control' type='text' id='triggerValue'>" +
                "</div>";
        } else if (value === "TIME") {
            html += "<div class='form-group'>" +
                "<label for='triggerValue'>Time</label>" +
                "<input class='form-control' type='text' id='triggerValue'>" +
                "</div>";
        } else if (value === "VOICE") {
            html += "<div class='form-group'>" +
                "<label for='triggerValue'>Command</label>" +
                "<input class='form-control' type='text' id='triggerValue'>" +
                "</div>";
        }

        opts.css({"visibility": "visible"});
        opts.html(html);
    }

    $(document).ready(function () {
        updateTriggerOptions($("#trigger").val());
    });

    $("#trigger").change(function () {
        updateTriggerOptions(this.value)
    });

    $("#addScript").click(function (e) {
        e.preventDefault();

        var error = $("#error");
        var name = $("#name").val();
        var desc = $("#desc").val();
        var enabled = $("#enabled").val();
        var script = $("#script").val();
        var triggerValue = $("#triggerValue").val();
        var trigger = $("#trigger").val();
        enabled = enabled === "on" ? 1 : 0;

        var data = {};
        data.name = name;
        data.description = desc;
        data.enabled = enabled;
        data.script = script;
        data.trigger = trigger;
        data.triggerValue = triggerValue;

        $.ajax({
            url: "/api/scripts/",
            type: "POST",
            data: data,
            success: function() {
                window.location.href = "/scripts";
            },
            error: function(err) {
                if (err.responseJSON.error === undefined) {
                    error.html("Server error occured");
                    return;
                }

                error.html(err.responseJSON.error);
                $("#error").css({"visibility": "visible"});
            }
        });
    });
</script>

<footer th:insert="fragments/header.html :: footer"></footer>
</body>
</html>