<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: files">
    <title>Dashboard</title>
</head>
<body>
<header th:insert="fragments/header.html :: header"></header>

<style>
    .form-group {
        padding: 5px;
    }
</style>

<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

    <div class="container">
        <center><h2>Add a new user</h2></center>

        <div style="visibility: hidden;" class="alert alert-danger" id="error"></div>
        <form>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password">
            </div>
            <div class="form-group">
                <label for="validated">Enabled</label>
                <input type="checkbox" id="validated">
            </div>

            <button id="add" type="submit" class="btn btn-primary">Add</button>
        </form>


    </div>

</div>

<script>
    $("#add").click(function (e) {
        e.preventDefault();

        var email = $("#email").val();
        var password = $("#password").val();
        var validated = $("#validated");
        validated = validated.is(":checked") ? 1 : 0;

        var data = {};
        data.email = email;
        data.password = password;
        data.enabled = validated;

        $.ajax({
            url: "/api/users/",
            type: "POST",
            data: data,
            success: function() {
                window.location.href = "/users";
            },
            error: function(err) {
                if (err.responseJSON.error === undefined) {
                    error.html("Server error occured");
                    return;
                }

                error.html(err.responseJSON.error);
                $("#error").css({"visibility": "visible"});
            }
        });
    });
</script>

<footer th:insert="fragments/header.html :: footer"></footer>
</body>
</html>