<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: files(title='Dashboard')">
</head>
<body>
<header th:insert="fragments/header.html :: header"></header>

<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-plus"></i> Add Card
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button type="button" data-bs-toggle="modal" data-bs-target="#popup" th:each="card : ${availableCards}" class="dropdown-item" href="#" th:text="${card.toString()}"></button>
        </div>
    </div>

    <div class="row" style="min-height: 240px">
        <div th:each="card : ${dashboard.getCards()}" class="col-md-4" style="min-height: 240px;">
                <div class="devicecard" th:value="${card.getId()}" th:insert="'fragments/'+${card.getType().getFilename()} :: card(${card}, ${card.getDevice()})"></div>
        </div>
    </div>

    <div class="modal fade" id="popup" tabindex="-1" aria-labelledby="popupLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="popupLabel">Add Card</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <span id="error"></span>

                    <input type="hidden" class="form-control" id="type">
                    <div class="input-group mb-3">
                        <input id="deviceID" type="text" class="form-control" placeholder="Device ID">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="addCard" type="button" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>

    <script>

        $(".devicecard").contextmenu(function(ev){
            console.log($(ev.currentTarget).attr("value"));
            var cardId = $(this).attr("value");
            var data = {
                "cardID": cardId
            };

            $.ajax({
                url: "/api/dashboards/",
                type: "DELETE",
                data: data,
                success: function() {
                    location.reload()
                },
                error: function(err) {
                    if (err.responseJSON.error === undefined) {
                        error.html("Server error occured");
                        return;
                    }

                    displayError("#error", "Failed to delete card: " + err.responseJSON.error)
                }
            });

            return false;
        });

        var deviceCard = $(".devicecard");
        // deviceCard.hover(function (e) {
        //     if (!e.ctrlKey)
        //         return;
        //
        //     var el = $(this);
        //     var html = "<i class='cardDelete fas fa-trash'></i>"
        //     el.html(el.html() + html);
        // });
        // deviceCard.mouseleave(function (e) {
        //     if (!e.ctrlKey)
        //         return;
        //
        //     var el = $(this);
        //     var html = "<i class=\"cardDelete fas fa-trash\" aria-hidden=\"true\"></i>"
        //     el.html(el.html().replaceAll(html, ""))
        // });
        // function showDelete(el) {
        //     el = $(el);
        //     var html = "<i class='cardDelete fas fa-trash'></i>"
        //     el.html(el.html() + html);
        // }
        // function removeDelete(el) {
        //     el = $(el);
        //     var html = "<i class=\"cardDelete fas fa-trash\" aria-hidden=\"true\"></i>"
        //     el.html(el.html().replaceAll(html, ""))
        // }

        // $(".deleteCard").click(function () {
        //     var deviceID = $(this).attr("value");
        //
        //     var data = {
        //         "deviceID": deviceID
        //     };
        //
        //     $.ajax({
        //         url: "/api/dashboards/",
        //         type: "DELETE",
        //         data: data,
        //         success: function() {
        //             location.reload()
        //         },
        //         error: function(err) {
        //             if (err.responseJSON.error === undefined) {
        //                 error.html("Server error occured");
        //                 return;
        //             }
        //
        //             displayError("#error", "Failed to add card: " + err.responseJSON.error)
        //         }
        //     });
        // });

        var popup = document.getElementById('popup');
        popup.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            popup.querySelector('#type').value = button.textContent;
        });

        $("#addCard").click(function() {
            var type = $("#type").val();
            var deviceID = $("#deviceID").val();

            var data = {
                "cardType": type,
                "deviceID": deviceID
            };

            $.ajax({
                url: "/api/dashboards/",
                type: "POST",
                data: data,
                success: function() {
                    location.reload()
                },
                error: function(err) {
                    if (err.responseJSON.error === undefined) {
                        error.html("Server error occured");
                        return;
                    }

                    displayError("#error", "Failed to add card: " + err.responseJSON.error)
                }
            });

        })

        function displayError(selector, errorString) {
            var el = $(selector);
            el.html('<div  class="alert alert-danger">' + errorString + '</div>')
        }

    </script>
</div>


<footer th:insert="fragments/header.html :: footer"></footer>
</body>
</html>