<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body style="background-color: darkgray">

<div class="container">
    <div style="visibility: hidden; margin-top: 100px" class="alert alert-danger" id="error"></div>

    <div class="d-flex justify-content-center">
        <form>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Password</label>
                <input type="password" class="form-control" id="password">
            </div>
            <button id="register" type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#register").click(function (e) {
            e.preventDefault();

            var error = $("#error");
            var email = $("#email").val();
            var password = $("#password").val();

            if (!email) {
                error.html("You must provide an email");
                error.css({"visibility": "visible"});
                return;
            }
            if (!password) {
                error.html("You must provide a password");
                error.css({"visibility": "visible"});
                return;
            }

            $.ajax({
                url: "/api/users/",
                type: "POST",
                data: {
                    email: email,
                    password: password
                },
                success: function() {
                    window.location.href = "/login";
                },
                error: function(err) {
                    if (err.responseJSON.error === undefined) {
                        error.html("Server error occurred");
                        return;
                    }

                    error.html(err.responseJSON.error);
                    $("#error").css({"visibility": "visible"});
                }
            });
        });

    });
</script>

</body>
</html>