<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: files">
    <title>TEST</title>
</head>
<body>
<header th:insert="fragments/header.html :: header"></header>

<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div th:each="card: ${cards}">
        <div th:utext="${card.getFileContents()}"></div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js" integrity="sha512-2RDFHqfLZW8IhPRvQYmK9bTLfj/hddxGXQAred2wNZGkrKQkLGj8RCkXfRJPHlDerdHHIzTFaahq4s/P4V6Qig==" crossorigin="anonymous"></script>

<script>

    var socket = new SockJS('/updateDevices');
    var stompClient = Stomp.over(socket);
    stompClient.connect({}, function (frame) {
        console.log('Connected: ' + frame);
        stompClient.subscribe('/topic/updateDevices', function (greeting) {
            // console.log(JSON.parse(greeting.body).content);
            console.log("Ran")
        });
    });

    // stompClient.send("/ws/socket", {}, JSON.stringify({"deviceID": "testd", "message": "test"}));

</script>

</body>
</html>